{{#section news multiple=true}}
    <div class="col-lg-6 col-md-12 col-12 mb-4" id={{_permalink}}>
        <div class="card">
            {{img type=image width=678 height=320 class="card-img-top"}}
            <div class="card-body">
            <h4 class="card-title">{{newsTitle label="Заголовок новини" priority=1}}</h4>
            {{#if body}}
            <p class="card-text">
                {{body label="Зміст новини" type=html editor="wysiwyg" images=true priority=3 required=false}}
            </p>
            {{/if}}
            </div>
        </div>
    </div>  
{{/section}}